<!DOCTYPE html>
<div class="container">
  <section class="main-header">
    <img src="/assets/achieve.png">
  </section>

  <section class="main">
    <article>
      <h1>h1要素内の<span class="label label-primary">記事エリア1</span></h1>
      <ul class="row">
        <li class="col-sm-6 col-md-3">中身ダミー1</li>
        <li class="col-sm-6 col-md-3">中身ダミー1</li>
        <li class="col-sm-6 col-md-3">中身ダミー1</li>
        <li class="col-sm-6 col-md-3">中身ダミー1</li>
      </ul>
    </article>
    
    <article>
      <h1>h1要素内の<span class="label label-info">記事エリア2</span></h1>
      <div class~"btn-group">
        <button type="button" class="btn btn-default">left</button>
        <button type="button" class="btn btn-default">真ん中</button>
        <button type="button" class="btn btn-default">right</button>
      </div>
      <ul class="row">
        <li class="col-sm-6 col-md-3">中身ダミー11</li>
        <li class="col-sm-6 col-md-3">中身ダミー21</li>
        <li class="col-sm-6 col-md-3">中身ダミー31</li>
        <li class="col-sm-6 col-md-3">中身ダミー41</li>
      </ul>
    </article>
    
    <article>
      <div class="panel panel-default">
        <div class="panel panel-heading">
          DICリーグ
        </div>
        <div class="panel-body">
          優勝チームまたは個人には、DEMO DAYへの参加資格が与えられる
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>順位</th>
              <th>名前</th>
              <th>テーマ</th>
              <th>得点</th>
            </tr>
          </thead>
          
          <tbody>
            <tr>
              <th>1</th>
              <th>セントジェームス猪原</th>
              <th>わかめの生育状況と海面温度との関係</th>
              <th>89点</th>
            </tr>
            <tr>
              <th>2</th>
              <th>渡辺</th>
              <th>虫の音色で奏でるドラゲナイ</th>
              <th>77点</th>
            </tr>
          </tbody>
        </table>
      </div>
    </article>
  </section>
</div>